<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <form action="/states" method="POST">
        <label name="state">Enter your state to view your brews</label>
        <input type="text" name="state" />
        <button type="submit">Search</button> 
      </form>
    </div>
  </body>
</html>
